#Logout_Button{
    margin: 30px;
    float: right;
}
h1{
    text-align: center;
}
body{
    text-align: center;
    background-color: darksalmon;
}
#Input_Room_Name{
    margin-left: 20px;
    margin-right: 20px;
}
#Room_Names
{
    padding: 10px; 
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
    margin-left: 150px;
    margin-top: 20px;
}
h2{
    text-align: center;
}